.donate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.donate-text {
    padding-bottom: 30px;
    margin-top: -5em;
}

.link {
    display: inline;
    position: relative;
    color: #5ec4ff;
    font-size: 0.9em;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    max-width: 0;
    height: 3px;
    background-color: #5ec4ff;
    transition: 200ms ease;
    opacity: 0;
}

.link:hover::after {
    opacity: 1;
    max-width: 100%;
}

.donate-image {
    height: 40rem;
    width: auto;
}

.glow {
    background-image: linear-gradient(
        30deg,
        #22f0e7,
        #df71ef,
        #22f0e7,
        #df71ef
    );
    background-size: 400%;
    padding: 3px;
    animation: breathe 20s linear infinite;
    margin-top: -0.5rem;
}

.navbar-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 45px;
    padding: 1em;
    position: relative;
}

.navbar-box {
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 80px;
    height: 100%;
    position: relative;
}