.header {
    background: url("../../public/WebsiteMainPhoto2024.png") no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .header {
        height: 12rem;
    }
}

.curtain {
    background: rgba(0, 0, 0, 0.289);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule {
    margin: auto;
    padding: 1rem 4rem;
    max-width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .schedule {
        padding: 1rem 1.2rem;
    }
}